
/* === Main Page Layout === */

body {
	
  background-color: black;
}

#main-content {
  display: grid;
  grid-template-columns: auto 500px;
}

#left-content, #right-content {
  /*border: 1px solid rgba(0, 0, 0, 0.8);*/
  padding: 10px;
}

#right-content {
}



/* === Dynamic List Styling === */

.accordion-button, .course-remove, .section-remove, .time-slot-remove, .reserve-remove {
	/*padding-top: 30%;*/
	align: center;
	/*background-color: teal;*/
	background: transparent;
	padding: 2px 1px;
    border: none;
    color: white;
    font-size: 16px;
    cursor: pointer;
}

.course-add, .section-add, .time-slot-add, .reserve-add {
	/*padding-top: 30%;*/
	align: center;
	/*background-color: teal;*/
	background: #44494E;
	padding: 6px;
	border-radius: 3px;
	margin-right: 5px;
    border: none;
    color: white;
    font-size: 16px;
    cursor: pointer;
}

.course-add:hover, .section-add:hover, .time-slot-add:hover, .reserve-add:hover {
	background: #54595E
}

input[type=text].course-name, input[type=text].section-name, input[type=text].reserve-name {
	width: 70%;
	text-align: left;
	font-size: 1em;
	padding: 2px;
	background: transparent;
	color: white;
}
.course-name::placeholder, .section-name::placeholder, .reserve-name::placeholder {
	color: lightgray;
}

/* Accordion Styling */

.accordion-header {
	background: transparent;
}

.accordion-button-minus {
	float:right;
}

.accordion-content {
	padding-top: 10px;
	/* transform: scaley(0); */
	background: voilet;
	display: none;
}
.accordion-content.active {
	/*transform: scaley(1);*/
	display: block;
}

.course.list-item>.accordion-content {
	padding-left: 10px;
	padding-right: 10px;
}

.section.list-item>.accordion-content {
	padding-right: 10px;
	padding-left: 10px;
}

.reserve.list-item>.accordion-content {
	padding-right: 10px;
	padding-left: 10px;
}

/* Course */

.course.list-item {
	background-color: #273746;
	margin-top: 10px;
	padding: 7px;
	border-radius: 10px;
}

/* Section */

.section.list-item {
	background-color: #34495E;
	margin-top: 5px;
	padding: 7px;
	border-radius: 10px;
}

/* Time Slot */

.time-slot.list-item {
	background-color: #2E4053;
	margin-top: 3.5px;
	padding: 6px 0px 6px 5px;
	border-radius: 10px;
}

input[type=text].time-start, input[type=text].time-end{
	width: 80px;
	display: inline-block;
	text-align: center;
	font-size: 1em;
	padding: 2px;
}

.day-button{
	border: none;
	border-radius: 50%;
	width: 24px;
	height: 24px;
	font-size: 14px;
	font-weight: bold; 
	/*background: OLIVE;*/
	/*background: -webkit-linear-gradient(left, #25c481, #25b7c4);
	background: linear-gradient(to right, #25c481, #25b7c4);*/
	background: #25b7c4;
	cursor: pointer;
	color: white;
	padding-right: 2.5%;
}
.day-button-W{
	padding-left: 1.3%;
}

.day-button-T {
	padding-left: 1.8%;
}

.day-button-S, .day-button-F{
	padding-right: 2%;
}

.day-button:hover{
	background: lightblue;
}
.day-button.active
{
	background: #E74C3C;
}
.day-button.active:hover
{
	background: MOCCASIN;
}

/* Reserve */

.reserve.list-item {
	background-color: #34495E;
	margin-top: 10px;
	padding: 7px;
	border-radius: 10px;
}

/* Generate Button */

button.gen-schedule {
	text-align: center;
	left: 40%;
}

.gen-schedule {
	display: inline-block;
  border-radius: 10px;
  background-color: #E74C3C;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 18px;
  padding: 10px;
  width: 50%;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}

.gen-schedule span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.gen-schedule span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.gen-schedule:hover span {
  padding-right: 25px;
}

.gen-schedule:hover span:after {
  opacity: 1;
  right: 0;
}



/* === Schedule Table === */

.schedule {
	
	display: grid;
	grid-template-columns: 75px 1fr;
	grid-template-rows: 40px 1fr; 
	color:white;
	text-transform: UPPERCASE;
	text-align: center;
}
.schedule-header {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
	background: #273746;
	/*border: solid 1px white;*/
	min-width: 650px;
}
.time-column {
	background: #273746;
	/*border: solid 1px white;*/
}
.schedule-content {
	display: grid;
	grid-template-columns: 0px 1fr 1fr 1fr 1fr 1fr 1fr 1fr 0px;
	position: relative; 
	/*border: white 1px solid;*/
	border: solid 2px #555555;
}
.day-column {
	border: solid 2px #555555;
	/*width:50px;*/
	/*flex: 1 1 auto;*/
}
.day-container {
	position: relative;
}

.time-divider, .time-label-spacer {
	height:30px;
	/*width: 10px;
	background: olivedrab;*/
}

.time-label {
	position: relative;
	top:-10;
}

.time-divider::after {
	content: '';
	display: block; 
	position: absolute;
	margin: 0px;
	margin-top: -1px;
	border-bottom: 1px solid #555555;
	width:100%;
}

.mouse-line {
	position: absolute;
	margin: 0px;
	margin-top: -1px;
	border-bottom: 3px solid red;
	width: 100%;
	right: 0px;
}
.mouse-line::after {
	content: '';
	position: absolute;
	border-bottom: 3px solid orange;
	left: -75px;
	width: 75px;
}

.schedule-item {
	background-color: transparent;
	border: 0px solid;
	padding: 5px;
	margin-top: -1px;
	font-size: 15px;
	text-align: center;
	color: white;
	border-left-width: 5px;
	position: absolute;
	overflow: hidden;
	box-sizing: border-box;
}

.week-display-selector {
	border: none;
	background: white;
}
.week-display-selector.active {
	background: #25b7c4
}

/*
.grid-slot {
	background: #E74C3C;
}

.grid-container {
  display: grid;
  grid-template-columns: auto 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  background-color: transparent;
  
}
.grid-item {
  background-color: transparent;
  border: 1px solid #555555;
  padding: 5px;
  font-size: 15px;
  text-align: center;
  color: white;
}
.grid-item.label {
	font-family: Courier New;
	font-weight: bold;
	border: 0px;
	background-color: #273746;
	text-transform: UPPERCASE;
}
.grid-item.time {
	background-color: #273746;
	border: 0px;
}
.grid-item.grid-slot {
	background: white;
	border-color: white;
	border-width: 0px;
	border-left-width: 5px;
	/*opacity: 0.7;
}
.grid-item.space {
	
}*/



/* General Element Styling */

#time-picker {
	display:block;
	position:absolute;
	color: white;
	background:blue;
	width:100px;
	height:300px;
	overflow-y:scroll;
}

.picker-elem {
	margin: 0px 2px;
	padding: 5px 2px;
}
.picker-elem:hover {
	background: #25b7c4
}

.colour {
	width: 100%;
	height: 20px;
	display: block;
}

.list-scroll {
	overflow-y: scroll;
	max-height: 85vh;
	margin: 10px 0px;
}

/* === Global Element Properties === */

button:focus {
	outline:0;
}
input[type=text] {
    /*width: 60px;*/
    padding: 5px;
    border: none;
    border-radius: 4px;
    resize: vertical;
	display: inline-block;
	font-size: 10px;
}

.invisible {
	transform: scale(0);
}

.hidden {
	display: none;
}
