
body{
	
  background-color: #666666;
}

#main-content{
  display: grid;
  grid-template-columns: auto 350px;
}

#left-content, #right-content {
  border: 1px solid rgba(0, 0, 0, 0.8);
  padding: 10px;
}

/* Form Styling */

.right-content-form{
	padding: 0px;
	margin: 0px;
}

.time-start, .time-end {
	width: auto;
	display: inline-block;
}

.day-button{
	border: none;
	border-radius: 50%;
	width: 24px;
	height: 24px;
	font-size: 14px;
	font-weight: bold; 
	background: blue;
	cursor: pointer;
	color: white
	text-align: center;
	
}
.day-button:hover{
	background: limegreen;
}

input[type=text] {
    width: 60px;
    padding: 5px;
    border: none;
    border-radius: 4px;
    resize: vertical;
	display: inline-block;
	font-size: 10px;
}

/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
    .col-25, .col-75, input[type=submit] {
        width: 100%;
        margin-top: 0;
    }
}


/* Accordion Styling */

.accordion {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    transition: 0.4s;
}

.active, .accordion:hover {
    background-color: #ccc;
}

.accordion:after {
    content: '\002B';
    color: #777;
    font-weight: bold;
    float: right;
    margin-left: 5px;
}

.active:after {
    content: "\2212";
}

.accordionContent {
    padding: 0 18px;
    background-color: white;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}