
# Directories
[Dd]ebug/
[Rr]elease/
[Bb]uild/
.vscode/
.vs/

# Object Files
*.o
*.obj

# Precompiled Headers
*.pch

# Compiled Dynamic libraries
*.dll

# Compiled Static libraries
*.a
*.lib

# Executables
*.exe
*.out
*.app
*.html
*.sln
*.vcx*
