
.elementTemplate
{
	/*visibility: hidden;*/
	transform: scaleY(0);
	display: block;
}


.gridContainer
{
	display: grid;
	grid-gap: 20px 20px;
	grid-template-columns: auto 350px;
}


.listContainer
{
	grid-column: 2/2;
	
	/*background: #ffffff;
	padding: 20px;*/
	/*margin-left: 20px;
	display: block;*/
	/*width: 450px;*/
	/*box-sizing:border-box;*/
	
}



.outputTable
{
	grid-column: 1/1;
	
	
	display: grid;
	grid-template-columns: 50px auto;
	align-content: start;
	text-align: center;
	
	border-style: solid;
	border-collapse: collapse;
	border-width: 1px;
	border-color: #888888;
	/*width: 100%;*/
	/*margin-left: 500px;*/
	/*margin-left: 20px;
	margin-bottom: 20px;*/
	/*position: absolute;
	display: inline-block;
	top: 20px;
	left: 20px;*/
}

.time
{
	grid-column: 1/1;
	
	border-style: solid;
	border-width: 1px;
	border-color: #888888;
}

.day
{
	grid-row: 1/1;
	
	border-style: solid;
	border-width: 1px;
	border-color: #888888;
}

.course
{
	border-style: solid;
	border-width: 1px;
	border-color: #888888;
}




.add
{
	/*margin-top: 500px;*/
	cursor: pointer;
	background: #55A5ff;
	padding: 15px;
	margin-right: 5px;
	/*display: inline-block;
	position: relative;*/
	/*left:80%;*/
}

.draw
{
	cursor: pointer;
	background: #95A5ff;
	padding:15px;
	margin-right: 5px;
	/*display: inline-block;
	position: relative;*/
	/*left:80%;*/
}

.listItems
{
	background: #eeeeee;
	padding: 5px;
	margin: 20px 0px;
	/*display: block;
	box-sizing:border-box;*/
}

.element
{
	font-size: 12px;
	background: #87ceeb;
	padding:15px;
	margin: 10px;
}

.remove
{
	cursor: pointer;
	background: #ff5555;
	padding: 8px;
	/*margin: 20px;*/
	display: inline-block;
	/*position: relative;*/
	/*left:70%;*/
}

input
{
	width: 80px;
}


/*
.accordionWrapper
{
	padding:30px;
	background:#fff;
	float:left;
	width:80%;
	box-sizing:border-box;
	margin:10%;
	box-shadow: 0 1.5em 85px 0 rgba(0, 0, 0, 0.2);
}

.accordionItem
{
	float:left;
	display:block;
	width:100%;
	box-sizing: border-box;
	font-family:'Open-sans',Arial,sans-serif;
}

.accordionItemHeading
{
	cursor:pointer;
	margin:0px 0px 10px 0px;
	padding:20px;
	background:#2980b9;
	color:#fff;
	width:100%;
	border-radius: 3px;
	box-sizing: border-box;
}

.button
{
	cursor:pointer;
	background: #ffffff;;
	color: #fff;
	border: 2px solid #000000;
	width: 15px;
	height: 15px;
	border-radius: 3px;
	float: right;
	margin: auto;
}

.close .accordionItemContent
{
	height:0px;
	transition:height 1s ease-out;
	transform: scaleY(0);
	float:left;
	display:block;
}

.open .accordionItemContent
{
	padding: 20px;
	background-color: #fff;
	border: 1px solid #ddd;
	width: 100%;
	margin: 0px 0px 10px 0px;
	display:block;
	transform: scaleY(1);
	transform-origin: top;

	transition: transform 0.4s ease;
	box-sizing: border-box;
}

.open .accordionItemHeading
{
	margin:0px;
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;
	border-bottom-right-radius: 0px;
	border-bottom-left-radius: 0px;
	background-color: #bdc3c7;
	color: #7f8c8d;
}
*/
